* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

/* comment class typrograph */

.continer {
  width: 88%;
  margin: 20px auto;
}
* .future-left,
.future-left {
  margin-bottom: 20px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content .link ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-content .link ul a {
  text-decoration: none;
  color: rgba(2, 44, 34, 1);
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
}

.nav-content .mavbtn {
  display: flex;
  align-items: center;
}

.nav-content .mavbtn button {
  padding: 12px 26px;
  border: 1px solid gray;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.nav-content .mavbtn button i {
  margin-left: 5px;
}
.nav-content .menu {
  font-size: 30px;
  font-weight: 500;
  display: none;
}

.header h4 {
  font-style: Regular;
  font-size: 16px;
  font-weight: 400px;
  letter-spacing: -0.2px;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 56px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff7ed;
}

.header h2 {
  color: rgba(29, 31, 30, 1);
  font-family: Figtree;
  font-style: Regular;
  font-size: 62px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: -3%;
  text-align: left;
  margin-bottom: 96px;
}

.future-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 64px;
}

.future-left h3 {
  font-style: Medium;
  font-size: 20px;
  font-weight: 500px;
  letter-spacing: -1%;
  color: rgba(29, 31, 30, 1);
}

.future-left p {
  font-style: Regular;
  font-size: 16px;
  font-weight: 400px;
  letter-spacing: -0.2px;
  color: rgba(100, 106, 105, 1);
}

.future-left a {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0-4%;
  color: rgba(2, 44, 34, 1);
  text-decoration: none;
}

.future-right h3 {
  font-style: Medium;
  font-size: 20px;
  font-weight: 500px;
  letter-spacing: -1%;
  color: rgba(29, 31, 30, 1);
}

.future-right p {
  font-style: Regular;
  font-size: 16px;
  font-weight: 400px;
  letter-spacing: -0.2px;
  color: rgba(100, 106, 105, 1);
}

.future-right a {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0-4%;
  color: rgba(2, 44, 34, 1);
  text-decoration: none;
}

#nav-continer {
  background-color: #ffffff;
}

#future {
  width: 98%;
  /* height: 968px; */
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff7ed;
}

#future-continer {
  padding: 64px 0px 104px 0px;
}
